@page "/basas/{uid}"
@using Basurtas.Model;
@using CardGames;
@using CardGames.Basas;
@inherits GamePage
@inject IJSRuntime jsRuntime

<h1>Basurtas</h1>
<h2>Codigo @Uid</h2>

<h3>Cantidad de jugadores: @PlayersNumber (@PlayersListText)</h3>

@switch (Game?.State ?? BasasState.Build)
{
    case BasasState.Build:
        <p>
            Nombre:
            <input type="text" @bind="PlayerNickName" /><br />
        </p>

        @if (@IsCreator)
        {
            <button class="btn btn-primary" @onclick="Start">Iniciar juego!</button>
        }
        break;

    case BasasState.Bid:
        if (Game.CurrentPlayer == player)
        {
            <p>
                Cantidad de basas: <input type="text" @bind="CurrentBid" /><br />
            </p>
        }
        else
        {
            <p>
                Jugador pidiendo: @Game.CurrentPlayer.NickName
            </p>
        }
        break;

    case BasasState.Play:
        if (Game.CurrentPlayer == player)
        {
            <p>
                Es tu turno<br />
            </p>
        }
        else
        {
            <p>
                Turno de @Game.CurrentPlayer.NickName
            </p>
        }
        break;

    case BasasState.End:
        break;
}

@if (Game?.State != BasasState.Build)
{
    <table class="table">
        <thead>
            <tr>
                @foreach (var p in Game.Players)
                {
                    <th>
                        @p.NickName
                    </th>
                }
            </tr>
        </thead>

        <tbody>
            @foreach (var r in Game.Scoreboard.Rounds)
            {
                <tr>
                    @for (var i = 0; i < Game.Players.Count; i++)
                    {
                        <td>
                            @r.Player[i].Bid / @r.Player[i].Score
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@code {

    [Parameter]
    public string Uid { get; set; }

    public int PlayersNumber => Game?.PlayersNumber ?? 0;

    public string PlayersListText => Game?.PlayersListText;

    public bool IsCreator { get; private set; }

    public string PlayerNickName { get => player.NickName; set => player.NickName = value; }

    public BasasGame Game => game;

    public int CurrentBid
    {
        get => currentBid;
        set
        {
            currentBid = value;
            SafeAction(() => game.SetPlayerBid(player, value));
        }
    }

    public int currentBid;

    private static readonly Dictionary<string, BasasGame> cache = new Dictionary<string, BasasGame>();

    private Player player;

    private BasasGame game;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        player = new Player();

        if (!cache.TryGetValue(Uid, out game))
        {
            game = new BasasGame();
            cache.Add(Uid, game);
            IsCreator = true;
        }

        game.AddPlayer(player);
        game.OnStateChanged += OnGameStateChanged;
    }

    protected override void DoCloseAll()
    {
        if (Game != null)
        {
            Game.OnStateChanged -= OnGameStateChanged;
            Game.RemovePlayer(player);
        }

        base.DoCloseAll();
    }

    public void Start()
    {
        SafeAction(Game.Start);
    }

    private void SafeAction(Action action)
    {
        try
        {
            action();
        }
        catch (Exception x)
        {
            jsRuntime.InvokeAsync<object>("ShowAlert", x.Message);
        }
    }

    private void OnGameStateChanged(object sender, EventArgs e)
    {
        InvokeAsync(() => StateHasChanged());
    }
}
